{% load staticfiles %}

<div class="col-xs-4 nopadding fanart filter-item {% for filter in item.list_set.all %}{{ filter.name }} {% endfor %}" trakt_id="{{ item.trakt_id }}">
	<div class="placeholder" reg="0.065" sm=".09">
		<div>
			{% include "converted_svg/film.svg.html" %}
			<br><br>{{ item.title }}
		</div>
	</div>
	<div class="template"></div>
	{% if item.fanart_url %}
		<div class="img-container">
			<img class="lazy poster-img" src="{% static 'imgs/placeholder_fanart.png' %}" data-original="{{ item.fanart_url }}">
		</div>
	{% endif %}
	<div class="overlay info-pane-toggle">
		<div class="overlay-title" reg="0.075" sm=".09">
		{% with title=item.title.split articles="a an the" lowercase="a b c d e f g h i j k l m n o p q r s t u v w x y z" %}  
			{% with first=title|first %}
				{% if first.lower in articles.split %}
					<span class="thin">{{ first }}</span>
				{% else %}
					{{ first }}
				{% endif %}
			{% endwith %}
			{% for word in title|slice:"1:" %}
				{% if word|slice:"1" in lowercase.split %}
					<span class="thin">{{ word }}</span>
				{% else %}
					{{ word }}
				{% endif %}
			{% endfor %}
		{% endwith %}
		</div>
		<span class="overlay-sub" id="left-sub" reg="0.065" sm="0.08">
			{% if item.released %}
				<span class="break"><span class="thin">{{ item.released|date:"M" }}</span>{{ item.released|date:"j" }}</span><span class="break thin">{{ item.released|date:"Y" }}</span>
			{% elif item.first_aired %}
				<span class="break"><span class="thin">{{ item.first_aired|date:"M" }}</span>{{ item.first_aired|date:"j" }}</span><span class="break thin">{{ item.first_aired|date:"Y" }}</span>
			{% endif %}
		</span>
		<span class="overlay-sub sub-middle" id="check" onclick='{% if type == "movie" %}mark_watched_movie({{item.trakt_id}});{% else %}alert("show");{% endif %}'> 
			<span id="to-watch-item-icon" {% for filter in item.list_set.all %}{% if "to-watch" == filter.name or "watching" == filter.name %}style="display: block"{% endif %}{% endfor %}>
				{% include "converted_svg/check.svg.html" %}
			</span> 
			<span id="watched-item-icon" {% for filter in item.list_set.all %}{% if "watched" == filter.name %}style="display: block"{% endif %}{% endfor %}>
				{% include "converted_svg/check_selected.svg.html" %}
			</span>
		</span>
		<span class="overlay-sub sub-right" id="options" trakt_id="{{ item.trakt_id }}">
			{% include "converted_svg/options.svg.html" %}
		</span>
	</div>
</div>
